 {% extends 'base.html' %}

 {% block content %}

 <!-- Django Messages -->

{% if messages %}

    {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show"
             role="alert">

            {{ message }}

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert">
            </button>

        </div>

    {% endfor %}

{% endif %}

 <!-- Top Header -->
 <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="fw-bold text-primary">
            Student Records
        </h2>

        <a href="/student-profile/" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>
            Add Student Profile
        </a>

        <a href="/add-student/" class="btn btn-success">
            <i class="bi bi-plus-circle"></i>
            Add Student
        </a>

    </div>

 <!-- Student Table -->
 <div class="card shadow border-0">

        <div class="card-body">

            <table class="table table-hover align-middle">

                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Course</th>
                        <th>Hobbies</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>

                {% for student in students %}

                <tr>

                    <td>{{ forloop.counter }}</td>

                    <td>{{ student.name }}</td>

                    <td>{{ student.email }}</td>

                    <td>{{ student.dob }}</td>

                    <td>{{ student.gender }}</td>

                    <td>{{ student.course }}</td>

                    <td>{{ student.hobbies }}</td>

                    <td>{{ student.address }}</td>
                    
                    <td>
                        <a href="/edit-student/{{ student.id }}/"
                           class="btn btn-sm btn-outline-primary"
                           onclick="return confirm('Do you want to edit this student?')">

                            <i class="bi bi-pencil-square"></i>

                        </a>

                        <form method="POST"
                              action="{% url 'delete_student' student.id %}"
                              style="display:inline;">

                            {% csrf_token %}

                            <button type="submit"
                                    class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('Are you sure you want to delete this student?')">

                                <i class="bi bi-trash"></i>

                            </button>

                        </form>


                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

 {% endblock %}