* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    padding: 20px;
}
#box{
    height: 200px;
    width: 200px;
    background-color: lavender;
    border-radius: 10px;
}


/* multipal box */
#box1{
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 10px;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: lavender;
    border-radius: 10px;
    margin-bottom: 10px;   
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    border-radius: 10px; 
    margin-bottom: 10px;  
}